<div class="modal fade" id="editModal" aria-hidden="true" aria-labelledby="editModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Form -->
      <form id="editForm" name="editForm" autocomplete="off">
      <div class="modal-body">
        <div>
          <input type="hidden" class="form-control" id="editId"/>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="editTitle" placeholder="Enter a title" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="editDesc" placeholder="Enter a description"></textarea>
          </div>

          <div class="mb-3">
            <label for="due_date" class="form-label">Due date</label>
            <div class="input-group">
              <input type="text" class="date form-control" placeholder="DD/MM/YYYY" aria-label="Date" id="editDate"
                readonly>
              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
            </div>
          </div>

          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" aria-label="Status" id="editStatus">
              <option value="" disabled>Please select</option>
              <option value="1">Pending</option>
              <option value="2">In Progress</option>
              <option value="3">Done</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <select class="form-select" aria-label="Priority" id="editPriority">
              <option value="" disabled>Please select</option>
              <option value="1">Low</option>
              <option value="2">Normal</option>
              <option value="3">High</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="assignee" class="form-label">Assignee</label>
            <select class="form-select" aria-label="Assignee" id="editAssignee">
            </select>
          </div>
          <div class="mb-3 text-end fw-light" id="detail">
              <p><small>Created by : </small></p>
              <p><small>Edited by : </small></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn w-100 btn-primary">
          UPDATE
        </button>
      </div>
    </div>
  </form>
  </div>
</div>